*{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
#titreAccueil{
    text-align:center;
}
#global #gauche{
    float:left;
    margin-right: auto;
    width:25%;
}
#global #centre{
    float:left;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
#global #droite{
    float: left;
    margin-left: auto;
    width:25%
}
#haut{
    text-align: center;
}
footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}